{% extends "base.html" %}

{% block content %}
    <div class="row mb-4">
        <div class="col">
            <h2 class="question-text h2-heading">{{ page.question }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% for answer in page.answers %}
            <div class="answer">
                <a class="btn btn-lg btn-answer" href="#" data-is-correct="{{ answer.value.is_correct }}">{{ answer.value.answer }}</a>
                <p class="suggestion" style="display: none;">{{ answer.value.suggestion }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="row suggestion-box incorrect text-center" style="display: none">
        <p><span class="icon-cross incorrect-answer-icon icon"></span> <span class="text-icon"><strong>Sorry!</strong> </span></p>
        <p><span class="text-icon">That's not the best answer, why don't you try again?</span><span class="icon-grin incorrect-answer-icon icon ml-2"></span> </p>
        <div class="suggestion-text" style="width: 100%;"></div>
    </div>


    <div class="row suggestion-box correct text-center" style="display: none">
        <p><span class="icon-checkmark icon"></span> <span class="text-icon"><strong>Correct!</strong></span></p>
        <div class="suggestion-text" style="width: 100%;"></div>
        <div class="suggestion-btns text-center mt-2 mb-4">
            {% if page.next_question %}
                <button class="btn btn-lg btn-bottom btn-repeat">
                    <span class="text-icon"><span class="icon-loop2 icon mr-2"></span>Repeat Question</span>
                </button>
                <a class="btn btn-lg btn-bottom" href="{{ page.next_question.url }}">
                    <span class="text-icon">Next Question <span class="icon icon-arrow-right2"></span></span>
                </a>
            {% endif %}

            {% if not page.next_question %}
                <p>
                    <span class="text-icon">Congratulations! You finished the interview test</span><span class="icon-clipboard ml-2"></span>
                </p>
                <p>Hopefully you feel a bit more prepared to go to that interview</p>
                <a class="btn btn-lg btn-bottom" href="/">
                    <span class="text-icon"><span class="icon-loop2 icon mr-2"></span>Repeat Test</span>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
